<h1><%= @question.title %></h1>

<% if @question.responses.any? %>
  <h4>Here are the responses for this question:</h4>

  <ul>
    <% @question.responses.each do |response| %>
      <li>
        <%= response.response %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no responses yet!</p>
<% end %>

<p><%= link_to "Add a response", new_question_response_path(@question) %></p>

<p><%= link_to "Return Home", questions_path %></p>
